* {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1400px;
  margin: 0px auto;
}
li {
  list-style: none;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
p {
  color: #b8b8b8;
}
button {
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  background-color: black !important;
}
:root {
  --bg-pirmary: #1a0b2e;
  --bg-secondery: #230e3d;
  --bg-card: #351165;
  --linear: linear-gradient(180deg, #f7cb4f, #9400f6);
}
.humberger {
  display: none;
}
.header-wrap {
  background-color: var(--bg-pirmary);
  color: #fff;
  padding: 10px 0px;
}
.header-wrap .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap ul {
  display: flex;
  gap: 30px;
}
.header-wrap ul li a {
  text-decoration: none;
  color: #fff;
}
.header-wrap .logo h1 {
  color: #fff;
}
.header-wrap .logo span {
  background: var(--linear);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header-wrap .button button {
  background: var(--linear);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 16px;
}

/** Hero Section*/
.hero {
  background-image: url(../assest/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  color: #fff;
}
.hero .container .inner-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background-image: var(--linear);
  padding: 40px;
  border-radius: 50%;
}
.hero .hero-img::after {
  content: "New";
  position: absolute;
  color: #000;
  background-color: #00ff88;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: -60px;
}
.hero .btn-wrap {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.hero .btn-wrap button {
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  gap: 5px;
}

.hero .btn-wrap .btn1 button {
  background-image: var(--linear);
}
.hero .btn-wrap .btn2 button {
  background-color: transparent;
  border: 1px solid #00ff88;
}

/* About us */
.about {
  background-color: var(--bg-pirmary);
  color: white;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about .container .inner-content p {
  color: #ddd;
  max-width: 60%;
  margin: 20px auto;
}
.about .customer-card-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 60px 0px;
  border-top: 1px solid #dddddd31;
  padding-top: 30px;
}
.about .customer-card-wrap i {
  font-size: 20px;
}
.about .customer-card-wrap h1 {
  color: #00ff88;
}

/* Why Choose Section */
.why-chose {
  background-color: var(--bg-secondery);
  color: #fff;
  padding: 50px 0px;
}
.why-chose h1 {
  text-align: center;
  margin: 20px 0px;
}
.why-chose .card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.why-chose .card-wrap .card {
  padding: 20px;
  border-radius: 20px;
  background-color: #2a0f4d;
}
.why-chose .card-wrap .card.v-card1 {
  grid-column: span 1;
  grid-row: span 2;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.why-chose .card-wrap .card.v-card2 {
  grid-column: span 2;
  grid-row: span 1;
}
.why-chose .card-wrap .card.v-card3 {
  grid-column: span 2;
  grid-row: span 1;
}
.why-chose .card-wrap .card.v-card4 {
  grid-column: span 2;
  grid-row: span 1;
}
.why-chose .card-wrap .card h3 {
  margin: 10px 0px;
}

.featured {
  background-color: var(--bg-pirmary);
  padding: 60px 0px;
}
.featured .container .card {
  border-radius: 10px;
  margin-top: 20px;
}
.featured .container h1 {
  text-align: center;
  color: white;
  margin: 20px 0px;
}
.featured .future-content {
  border-radius: 0px 0px 20px 20px;
}
.featured .future-content span {
  color: #00ff88;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0px;
}
.featured iframe {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.featured h2 {
  font-size: 30px;
}
.featured .featured-wrap .card-wrap {
  display: flex;
  gap: 20px;
}
.featured .future-content {
  background-color: var(--bg-card);
  color: white;
  padding: 20px;
  margin-top: -5px;
}
.featured .card-wrap p {
  margin: 25px 0px;
}

.host .host-wrap {
  background-color: var(--bg-pirmary);
  color: white;
  padding: 30px 0px;
}
.host .container h1 {
  text-align: center;
  margin: 20px 0px;
}
.host h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.host .inner-wrap {
  background-color: var(--bg-secondery);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.host .inner-wrap i {
  background-image: var(--linear);
  padding: 10px;
  border-radius: 50px;
  margin-top: 8px;
}
.host .icon-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.host .icon-wrap a {
  width: 20px;
  height: 20px;
  border: 1px solid var(--bg-card);
  padding: 10px;
  border-radius: 50%;
  object-fit: contain;
  text-align: center;
}
footer {
  background-image: url(/assets/footer-bg.png);
  padding: 100px 0px;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
}
footer .logo h2 {
  font-size: 68px;
  margin-bottom: 20px;
  color: #fff;
}
footer .logo span {
  background: var(--linear);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
footer .container .footer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
footer .social ul li a {
  display: flex;
  justify-content: center;
  gap: 5px;
}
footer .social ul li a {
  text-decoration: none;
  color: #b8b8b8;
}
footer .footer-wrap p {
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  .menu,
  .button {
    display: none;
  }
  .humberger {
    display: block;
  }
  .humberger img {
    margin-left: -38px;
  }
  .hero p {
    text-align: center;
    max-width: 80%;
  }
  .about .customer-card-wrap {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about .customer-card-wrap .card {
    margin-top: 20px;
  }
  .why-chose .card-wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    margin: 20px;
  }

  .why-chose .card {
    margin-top: 15px;
  }
  .featured .featured-wrap .card-wrap {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    gap: 0px;
  }
  .host .icon-wrap {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
  }
  .host .inner-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .icon-wrap {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  footer {
    text-align: center;
    margin: auto;
  }
  footer .social ul {
    display: flex;
    padding: 0px 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
